Day 1

### Setting up a local development environment

Before we can actually start building Streamlit apps, we will first have to setup a development environment.

Install the Streamlit library
It's now time to install the streamlit library:

> pip install streamlit

Launching the Streamlit demo app
To launch the Streamlit demo app (Figure 1) type:

> streamlit hello

In [7]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data.csv')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male